name: Sync to ModelScope

on:
  push:
    branches: [ main ]

jobs:
  sync-to-modelscope:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to ModelScope
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          
          # 直接使用您提供的完整链接（包含 oauth2 用户名和 token）
          # 这样可以避开所有 Secrets 配置错误的坑
          git push -f https://oauth2:ms-9a3208fc-b312-49a0-ad9e-33db2441f43a@www.modelscope.cn/studios/lyshang9989/Analysis.git HEAD:master
