name: Sync to ModelScope

on:
  push:
    branches: [ main ]

jobs:
  sync-to-modelscope:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub source
        uses: actions/checkout@v3

      - name: Sync to ModelScope
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          
          MS_URL="https://oauth2:ms-9a3208fc-b312-49a0-ad9e-33db2441f43a@www.modelscope.cn/studios/lyshang9989/Analysis.git"
          
          # 1. 克隆魔搭代码到 temp_ms
          git clone $MS_URL temp_ms
          
          # 2. 同步文件
          # 【核心修复】增加了 --exclude temp_ms，防止它复制自己
          rsync -av --progress . temp_ms --exclude .git --exclude .github --exclude temp_ms --delete
          
          # 3. 提交并推送
          cd temp_ms
          git add .
          git commit -m "Auto-sync from GitHub Actions" || echo "No changes to commit"
          git push origin master
